* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 500px;
    height: 500px;
}

.board {
    width: 100%;
    height: 100%;
    display: flex;
    border: solid 1px black;
}
.board .row {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: solid 1px black;
}
.board .row .column {
    width: 100%;
    height: 33.33%;
    border: black solid 1px;
    text-align: center;
    vertical-align: middle;
    line-height: 165px;
}
